<% provide(:title, @user.name) %>
<p id="notice"><%= notice %></p>

<div class="row">
	<aside class="col-md-4">
		<section>
			<h1>
				<%= @user.name %>
			</h1>
			<% if @user.avatar.attached? %>
				<%= image_tag url_for(@user.avatar), size: '250x250' %>
			<% end %>
		</section>
	</aside>
	<div>
	</div>
	<h2>Bio:
		<p><%= @user.bio %></p>
	</h2>
	<%= paginate @microposts %>
	<div class="col-md-8">
		<% if @user.microposts.any? %>
			<h3> Microposts (<%= @user.microposts.count %>)</h3>
			<ol class="microposts">
				<%= render @microposts %>
			</ol>
		<% end %>
	</div>
</div>
<%= link_to 'Back', users_path %>
